*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

project.lock.json
project.fragment.lock.json
artifacts/

.vs/
.vscode/

.idea/

*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
!**/packages/repositories.config

*.Build.CACHE
*.dbmdl
*.log
*.tlog
*.vspscc
*.vssscc

_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
*.DotCover

Generated_Code/
GeneratedFiles/

*.publish.xml
*.pubxml
*.pfx
*.key
*.cer

*.deploy.*
*.deploy.cmd
*.deploy-readme.txt

wwwroot/dist/
node_modules/
bower_components/
dist/

*.log
*.sql
*.sqlite
*.mdf
*.ldf

.DS_Store
Thumbs.db
desktop.ini

*.vsix

# I did not know what files to exclude from, so I just asked ChatGPT for this.
# If you're pissed because I used AI, go outdoor and touch grass.